@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html{
    scroll-behavior: smooth;
}

:root{
    --dark-bg: hwb(0 13% 87%);
    --hover-shadow-black: rgba(0, 0, 0, 0.5)
}

.style{
    box-shadow:  0px 0px 10px var(--hover-shadow-black);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(198, 198, 198, 0.498);
    text-align: center;
    transition: all .5s ease;
    &.btn{
        background-color: #e0e0e0;
        backdrop-filter: unset;
        &:hover{
            background: rgb(49, 94, 255);
            box-shadow: inset 2px 2px 15px rgb(0, 102, 255),inset -3px -3px 7px #fff;
            padding: 10px 38px;
            color: #ffffff;
        }
    }
    &.alt{
        background: rgb(49, 94, 255);
        box-shadow: inset 2px 2px 15px rgb(0, 47, 255),inset -3px -3px 7px #cecece;
        color: #ffffff;
    }
}


a{
    text-decoration: none;
    color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    cursor: pointer;
    transition: all .3s ease;
}

i{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}

h1,h2,h3,p{
    margin: 0;
}

article{
    width: calc(100%);
    height: 80%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 25px;
    & section{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        gap: 25px;
        flex: 1 !important;
        box-sizing: border-box;
        & div{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 25px;
            box-sizing: border-box;
            /* height: 100%; */
            width: 100%;
            box-shadow: inset 0px -50px 75px 0px rgba(0, 0, 0, 0.575),
                        0px 0px 30px var(--hover-shadow-black) !important;
            color: white;
            font-size: 25px;
            overflow-y: auto;
            scrollbar-width: none;

            & p {
                margin-bottom: 30px;
            }
            & form{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                height: 100%;
                /* gap: 20px; */
                & input,
                & textarea{
                    cursor: pointer;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 10px 8px;
                }
            }
        }
    }
}

.hero{
    flex: 1 !important;
    overflow: hidden;
    background-image: url('../static/images/contact-hero.jpg');
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 25px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: inset 0px -200px 50px 10px rgba(0, 0, 0, 0.8), 
    0px 0px 30px var(--hover-shadow-black) !important;
}