.content{
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    & .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        padding: 50px;
        & p {
            text-align: end;
        }
    }
    & .body{
        display: flex;
        flex-direction: column;
        padding: 50px;
        flex-grow: 1;
        & .topics{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            width: 100%;
            & button:hover{
                padding: 10px 15px;
                /* background-color:  rgb(154, 82, 255); */
                transform: scale(1.5);
                z-index: 10;
            }
        }
    }
    & p {
        text-align: justify;
        font-size: 20px;
    }


}


/* main > div{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .intro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & p {
            text-align: end;
        }
    }
    & .body{
        display: flex;
        flex-direction: column;
        & .topics{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            width: 100%;
            & button:hover{
                padding: 10px 15px;
                background-color:  rgb(154, 82, 255);

            }
        }
    }
    & p {
        text-align: justify;
        font-size: 20px;
    }
} */