@font-face {
  font-family: IranSans;
  src: url('IRANSansXRegular.ttf');
}
h1 {
  font-family: IranSans;
  }
  h2 {
    font-family: IranSans;
    text-align: center;
  }
  p {
    font-family: IranSans;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
