body{
    width: 60%;
    margin-left: 20%;
    align-items: center;
    align-content: center;

}

.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgba(128, 128, 128, 0.5) solid;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.leftheader{
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.menubar{
    width: 50%;
}
.midheader{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 70px;
    margin-top: 10px;
}
.logotext{
    font-size: 10px;
    margin-top: -5px;
}
.rightheader{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.login{
    padding-right: 10px;
    border-right: 1px solid black;
    text-decoration: none;
    color: black;
}
.search{
    width: 35px;
}
.ibm{
    width: 75px;
}

.subheader{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.sublist{
    display: flex;
    align-items: center;
}

.sublistlogo{
    width: 20px;
    margin-right: 10px;
}

.sublisttitle{
    color: green;
}

.hero{
    position: relative;
}
.heroimg{
    width: 100%;
    object-fit: cover;  
}

.herodivs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    color: white;
    align-items: center;
}

.herolist{
    width: 15%;
    border-left: 3px solid white;
    padding-left: 30px;
}

.herolisttitle{
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 10px;
}

.herolist4{
    width: 15%;
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0px 5px 35px;
    border-radius: 5px;
    align-items: center;
}

.loc{
    margin-left: -30px;
    font-size: 9px;
}

.herolist4img{
    width: 50px;
    border-radius: 50%;
}

.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videolist{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video{
    width: 23%;
}

.video img{
    width: 100%;
}


.editorpick{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowtopic{
    width: 50%;
    display: flex;
    flex-direction: row;

}


.rowimg {
    width: 50%;
    margin: 0% 3% 5%;
    
}

.details{
    width: 50%;
}
.row h3{
    font-size: 10px;
    background-color: green;
    display: inline-block;
    padding: 5px;
    color: white;
}

.row h4{
    font-size: 10px;
    color: green;

}

.row p{
    font-size: 20px;
}

.botbotlist{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.botvideo{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: green;
}
.botvideo img{
    width: 90%;

}

.green{
    background-color: #005f2b;
    height: 300px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.green img{
    width: 20%;
}
.green p{
    width: 50%;
    color: white;
}

.green a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 10px 10px 10px;

}

.backtop{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    align-content: center;

    position: fixed;
    left: 300px;
    bottom: 25px;
    border-radius: 50%;
    background-color: green;
}

.backtop img{
    margin-top: 5px;
    width: 20px;
    border-radius: 50%;
}