@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#body{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    & section{
        display: flex;
        width: 100%;
        flex: 1;
        gap: 2vh;
    }
    & .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p{
            font-size: 3vw;
        }
    }    
    & a{
        position: relative;
        flex: 1;
        text-decoration: none;
        align-items: center;

        overflow: hidden;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        & p {

            color: whitesmoke !important;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            z-index: -10;
            transition: all .5s ease;
            filter: brightness(.5);
        }
        &:hover{
            flex: 2;
            & img {
                filter: brightness(1) ;
            }
        }
    }
}

