<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table >
        <thead>
            <th>#</th>
            <th>username</th>
            <th>password</th>
        </thead>
        <tbody>
            {% for i,j in user_list.items() %}
                <tr>

                    <td>{{  i[-1] }}</td>
                    <td>{{ j['username'] }}</td>
                    <td>{{ j['password'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>