@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-size: 100% 100%;
    font-family: Nunito;
    /* background-color: var(--background-color) !important; */
    background-image: var(--background-url);
    color: var(--text-color);
    
    /* color: whitesmoke; */

    i{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .5s ease;
        &:hover{
            transform: scale(1.5);
        }
    }
    h1{
        margin: 0;
        font-size: 4vw !important;
    }
    h2{
        margin: 0;
        font-size: 3vw !important;
    }
    h3{
        margin: 0;
        font-size: 2vw;
    }
    p {
        margin: 0;
        font-size: 2vw;
    }
}

header{
    max-height: 8vh;
    min-height: 8vh;
    width:  calc(100% - 4vh);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vh 0 2vh;
    z-index: 10;

    & .nav-bar{
        display: flex;
        gap: 20px;
    }
    & img{
        height: calc(100% - 2vh);
        margin-left: 2vh;
    }
    & #profile-status{
        background-color: #315eff !important;
        color: whitesmoke !important;
        flex: unset;
        height: 100%;
        box-sizing: border-box;
    }
    .side-bar-btn{
        display: none !important;
    }
}

#body{
    /* max-height: 80vh; */
    min-height: 80vh;
    box-sizing: border-box;
    width: 100%;
    padding: 2vh;
}

footer{
    width:  calc(100% - 4vh);
    min-height: 8vh;
    max-height: 8vh;
    margin: 0 2vh 2vh 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 10;
    & p {
        font-size: 1.5vw;
    }
    & .socials{
        display: flex;
        gap: 1.5vw;
    }
    /* & .nav-bar{
        width: 100%;
        height: 100%;
        justify-content: space-between;
        a {
            font-size: 3vw !important;
            flex: 1;
            &:hover{
                padding: 1.5vw 3vw !important;
            }
        }
    } */
}

button:disabled{
    cursor:not-allowed
}

.no-wrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.style{
    font-weight: 300;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 4vw;
    border: 1px solid rgba(198, 198, 198, 0.498);
    text-align: center;

    transition-duration: .5s;
    transition-timing-function: ease;
    transition-property: backdrop-filter, width, padding, background-color, box-shadow, filter, transform, color, flex;
    &:hover{
        backdrop-filter: blur(10px);
    }

    &.btn{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .5s ease;



        cursor: pointer;
        backdrop-filter: unset;
        padding: .75vw 2.25vw;
        font-size: 1.5vw;
        color: var(--text-color);
        background-color: var(--background-color);

        &:hover{
            padding: .75vw 3.5vw;
        }
        &.active{
            background-color: rgb(49, 94, 255) !important;
            color: whitesmoke !important;
        }
    }
    &.input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 1.25vw;
        text-align: center;
        padding: 1vw;
        color: var(--text-color);
        background-color: var(--background-color);

    }

    &.alt{
        background: rgb(49, 94, 255);
        box-shadow: inset 2px 2px 15px rgb(0, 47, 255),inset -3px -3px 7px #cecece;
        color: whitesmoke;
    }
}



/* tablet */
@media (max-width: 1440px) {
    /* for base and others  */
    header{
        a {
            padding: 1.25vw 3vw !important;
            font-size: 1.75vw !important;
        }
    }
    footer{
        p {
            font-size: 2vw;
        }
    }
    .style{
        &.btn{
            font-size: 2vw;
            padding: 1vw 2.5vw;
            /* &:hover{
                padding: 1vw 5vw !important;
            } */
        }
        &.input{
            font-size: 2vw;
            padding: 1vw 2.5vw;
        }
    }
    /* base others end  */
    
    #body {
        /* for auth  */
        #auth-form{
            label{
                font-size: 2vw !important;
                text-align: center;
            }
        }


        /* end auth  */


    }

}

/* vertical tablet */
@media (max-width: 810px) {
    /* for base and others */
    #body{
        height: 90vh;
    }
    div,
    button,
    a,
    section,
    header,
    footer,
    form{
        border-radius: 50px !important;
    }
    header{
        position: relative;
        .nav-bar {
            display: none;
        }
        a {
            font-size: 3vw;
        }
        img {
            height: calc(100% - 3vh);
        }
        .side-bar-btn{
            display: flex !important;
            height: 100%;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
        }
        .side-bar{
            /* height: vh; */
            position: fixed;
            /* left: -200px; */
            transform: translateX(-200px);
            transition: all .5s ease;
            top: 150%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;
            & a{
                min-height: 100px;
            }
            &.show{
                transform: translateX(0px) !important;
            }
        }
    }
    footer {
        display: none;
    }
    .style{
        &.btn{
            font-size: 4vw;
            padding: 1vw 2.5vw;
            /* &:hover{
                padding: 1vw 5vw !important;
            } */
        }
    }
    /* base and others end  */

    #body {
        /* for shop  */
        #product-div > div {
            width: 100% !important;
            height: 35vh !important;
        }
        /* shop end  */

        /* for contact  */
        .left, .right{
            height: 40vh;
            width: 100%; 
            flex: unset;
            p{
                font-size: 3vw !important;
            }
            h2, label{
                font-size: 4vw !important;
            }
        }

        /* contact end  */

        /* for auth  */
        #auth-form{
            padding: 4vw;
            p { 
                font-size: 3vw !important;
            }
            label{
                font-size: 3vw !important;
            }
            input{
                font-size: 3vw !important;
            }
            min-width: 75% !important;
            min-height: 50vh !important;
            label{
                font-size: 3vw !important;
            }
        }
        /* end auth  */

        /* for profile */
        &.profile-div{
            flex-direction: column-reverse !important;
            
            #btn-list {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 0 !important;
                width: 100% !important;
                row-gap: 25px !important;
                padding-top: 0px !important;

                .panel-btns{
                    flex: unset !important;
                    width: 20% !important;
                    box-sizing: border-box;
                    :hover{
                        padding: 1vw 2.5vw !important;
                    }
                }
                #logout-btn{
                    flex: unset !important;
                    width: 100% !important;
                    :hover{
                        padding: 1vw 2.5vw !important;
                    }
                }
                
            }
            & .content-div{
                flex: 5;
                padding-bottom: 0;
            }

            #personal-info-div{
                justify-content: space-between;
                align-items: center;
                gap: 25px;
                label {
                    font-size: 4vw;
                }
                div{
                    height: 75px !important;
                    width: 95% !important;
                    & input{
                        height: 100%;
                        border-radius: 50px !important;
                        font-size: 3vw ;
                    }
                    h2, h3 {
                        font-size: 4vw;
                    }
                }
            }
        }
        /* end profile  */
    }


}

/* phone */
@media (max-width: 540px) {
    /* for base and others */
    header{
        a{
            font-size: 4.5vw !important;
        }
    }
    footer {
        .nav-bar{
            gap: 0px;
            a{
                padding: .5vw 2vw !important;
                font-size: 4vw !important;
                &:hover{
                    padding: .5vw 2vw !important;
                }
            }
        }
    }
    /* base and others end */

    #body{
        p{
            font-size: 7vw !important;
        }

        /* for home  */
        .topics{
            flex: 2;
            flex-direction: column;
        }
        .hero{
            p{
                font-size: 4vw !important;
            }
        }
        /* home end */

        /* for shop  */
        #option-row > button {
            font-size: 5vw !important;
        }
        #product-div > div {
            &:nth-child(odd):hover,
            &:nth-child(even):hover{
                transform: scale(1) translate(0px, 0px) !important;
            }
            width: 100% !important;
            h3 {
                font-size: 5vw !important;
            }
            p {
                font-size: 5vw !important;
            }
            .rowButton {
                p {
                    text-align: center !important;
                }
                button, a{
                    font-size: 5vw !important;
                    padding: 1.5vw 4vw !important;

                }
            }
        }

        /* for contact  */
        .left, .right{
            height: 40vh;
            width: 100%; 
            flex: unset;
            p{
                font-size: 4vw !important;
            }
            h2{
                font-size: 5vw !important;
            }
            label {
                font-size: 5vw !important;
            }
            input, textarea{
                font-size: 4vw !important;
            }
            form{
                gap: 25px;
                .form-row-div{
                    width: 100% !important;
                    justify-content: space-between !important;
                }
            }
        }

        /* contact end  */

        /* for auth  */
        #auth-form{
            padding: 3vw;
            min-width: 75% !important;
            min-height: 50vh !important;
            label, input, a, p{
                font-size: 4vw !important;
            }
            #action-div{
                button{
                    font-size: 4vw !important;
                    padding: 1.5vw 4vw !important;
                }
            }
        }
        /* end auth  */


        /* for profile  */
        #btn-list{
            justify-content: space-evenly;
            .panel-btns{
                width: 40% !important;
                font-size: 4vw !important;
                &:hover{
                    padding: 1.5vw 3vw !important;
                }
            }
            #logout-btn:hover{
                padding: 1.5vw 3vw !important;
            }
        }
        .sub-div{
            flex-direction: column;
            min-height: 400px;
            /* height: auto; */
            padding-left: 0px;
            h2,
            h3{
                font-size: 7vw !important;
                display: flex;
                align-items: center;
            }
            p {
                text-align: center;
                display: flex;
                align-items: center;
            }
            &.wallet-top-row div {
                width: 100%;
                gap: 25px;
                button,
                input{
                    flex: 1;
                    border-radius: 50px;
                }
            }
            & > label{
                font-size: 7vw !important;
            }
            & > input{
                font-size: 7vw !important;
                width: 100%;
            }
        }
        .sub-div.two-row{
            padding: 25px;
            :first-child {
                flex-direction: column;
            }
        }
            
          
        /* end profile */

        .study-div{
            justify-content: unset !important;
            flex-direction: column;
            overflow: scroll;
            scrollbar-width: none;
            h2,
            h3{
                font-size: 7vw !important;
            }
            & .left-div {
                padding: 25px;
                height: unset ;
                width: 100%;
            }
            & .right-div{
                box-sizing: border-box;
                height: unset;
                width: 100%;
                .example{
                    box-sizing: border-box;
                    width: 100%;

                    gap: 25px;
                }
                .top-row{
                    gap: 25px;
                    flex-direction: column;
                }
            }
        }
        .test h3{
            font-size: 6vw;
        }
    }

}