body{
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

h1{
    color: white;

}

table{
    width: 60%;
    background-color: rgb(38, 38, 38);
    padding: 50px;
    text-align: start;
    color: white;
    border-spacing: 0px 10px;

}
th{
    text-align: start;

}

tr{
    margin-bottom: 10px;
    background-color: rgb(59, 59, 59);
}

tr:hover{
    background-color: gray;
}


th,
td{
    padding: 20px 20px;
    font-size: 20px;
}