.menu-item{
    background-color: #333;
    display: inline-block;
    position: relative;
}

.menu-item a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 20px;
}

.menu-item a:hover{
    background-color: #555;
}

.item{
    position: relative;
}

.menu-item:hover > .drop,
.item:hover > .drop{
    display: block;
}

.drop{
    background-color: #444;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.drop .drop{
    left: 100%;
    top: 0;
}