.navbar{
    background-color: royalblue;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}


.btn{
    background-color: rgb(163, 174, 255);
    padding: 5px 15px;
    margin: 15px;
    border-radius: 10px;
    /* text-align: left; */
}

.ads{
    text-decoration: none;
}