<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth-page.css') }}">
    <title>Authenticate</title>
</head>
<body>
    <div class="container">
        <header class="style">
            <p>WORDLE</p>
        </header>

        <main>
            <form class="content style" action="/auth" method="post">
                <h1>Gotta login to play!</h1>
                <label for="username">- Your Username -</label>
                <input class="style input" type="text" name="username" id="username">
                
                <label for="password">- Your Password -</label>
                <input class="style input" type="text" name="password" id="password">
                <div>
                    <button class="style btn" type='submit' formaction="/auth/login">Login</button>
                    <button class="style btn" type='submit' formaction="/auth/register">Register</button>
                </div>

                {% if result == 'success' %}
                    <p>Status - Success!<br>You can now continue</p>
                    <button class="style btn" type='submit' formaction="/home">Proceed</button>
                {% elif result == 'wrong-info' %}
                    <p>Status - Failure!<br>Wrong info! Try again!</p>
                    <button class="style btn" type='submit' formaction="/home" disabled>Proceed</button>

                {% elif result == 'used-username' %}
                    <p>Status - Failure!<br>Already taken! Try again!</p>  
                    <button class="style btn" type='submit' formaction="/home" disabled>Proceed</button>

                {% endif %}
            </form>
        </main>

        <footer class="style">
            <a class="style btn alt" href="/home"><i class="ri-gamepad-line ri-2x"></i></a>
            <a class="style btn alt" href="/leaderboard"><i class="ri-list-check ri-2x"></i></a>
            <a class="style btn" href="/logout"><i class="ri-logout-circle-r-line ri-2x"></i></a>
        </footer>
    </div>
</body>
</html>