body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 30% 10%;
}
.img img{
    width: 150px;
    animation-name: pickle;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: rotate(60deg);
    animation-composition: accumulate;
}

.stage{
    height: 10px;
    background-color: gray;
    width: 100%;
}

@keyframes pickle{
    0%{transform: translateX(0px);}
    25%{transform: translateX(800px);}
    50%{transform: translate(1100px, -200px) rotate(-60deg);}
    100%{transform: translate(1400px, -600px) rotate(-180deg);}
    
    /* 75 */
    /* 40%, 100%{transform: translate(100px, 100px);} */
}