session1/project2/jewellery/
session2/project3/pexels-ryxnole-4741616.jpg/
session3/project2/image/
session3/project3/images/
session4/project3/images/
session5/unique-industrial-architecture-house-in-daylight-realistic-ai-generative-free-photo.jpg/
session5/IMG_2112.JPG/
session6/project1 - wimbledon/assets/
session6/project3/assets/
session7/project1 - reuters/images/
session7/project3 - div/pieces-basic-svg/
session8/project 2 - Yoga Table/pics/
session8/project 1 - Menu List/img/
session10/project 1 - Dystopia/icons/
session10/project 1 - Dystopia/images/
session10/project 2 - Gallery/images/
session10/project 2 - Gallery/img2/
session10/project 2 - Gallery(initial)/images/
session7/project3 - div/.DS_Store
session7/.DS_Store
session6/project1 - wimbledon/.DS_Store
session6/.DS_Store
session5/.DS_Store
session4/.DS_Store
session2/.DS_Store
session10/project 1 - Dystopia/.DS_Store
session10/.DS_Store
.DS_Store
session10/.DS_Store
