#unique {
  background: #4183c4;
  color: #eee;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.Multiple {
  padding: 7px 23px;
  background: #eee;
  border-radius: 5px;
  margin: 3px;
  color: #4183c4;
}