
html{
    overflow: hidden;
}

body{
    color: white;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    /* z-index: 1000; */
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
a:hover{
    cursor: pointer;
}

section{
    transition: all 1s ease;
}
.cyber,
.atoma,
.solar,
.steam{
    display: flex;
    flex-wrap: wrap;
}

.bg{
    flex: 1;
    background-color: orange;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    transition-property: flex, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.bg:hover{
    flex: 4;
    cursor: ew-resize;
    box-shadow: 0px 0px 100px black;
    z-index: 10;
}

nav,
article{
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;

}

nav{
    backdrop-filter: blur(30px);
    bottom: 5%;
    width: auto;
    /* z-index: 100; */
    height: 70px;
}
article{
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition-property: top, opacity, backdrop-filter, visibility, background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    display: flex;
    padding: 25px;
    gap: 25px;
}

article:hover{
    backdrop-filter: blur(40px);
}




.ref{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
    font-size: 20px;
    text-align: end;

}

.desc{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
}


article p {
    font-size: 20px;
    margin: 0;
}

article h2{
    margin: 0;
}



.ref .type {
    display: block;
    font-weight: bold;
}

nav a i{
    /* height: 50%; */
    transform: rotate(-135deg);
    transition: transform .5s ease;
}
nav a{
    padding: 0px 35px;
    transition-property: background-color,width, padding;
    transition-duration: .5s;
    transition-timing-function: ease;
    overflow: hidden;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.204);
    padding: 0px 55px;
} 

.topic{
    width: 0px;
    padding: 0px;
}

.home{
}
.home img{
    filter: hue-rotate(180deg) blur(5px) brightness(.5);
}

.home h1{
    margin: 0;
    /* z-index: 60; */
    position: absolute;
    top: 0;
    /* transition: ; */
}
