body{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
div{
    width: 1000px;
    background-color: royalblue;
}


div img{
    border-radius: 50%;
    width: 200px;
    transition: transform 2s linear;
}

div:hover img{
    transform: translatex(800px) rotate(360deg);
}