<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Topic - {{selected_topic}}</title>
</head>
<body>
    <h1>play game!</h1>
    <h3>Random Word:</h3>
    <h3>{{ selected_word }}</h3>

    {% for i in range(selected_word|length) %}
        <input type="text" class="blank-space" maxlength="1" size="1" readonly>
    {% endfor %}
      
    <br>
      
    {% for letter in letters %}
        <button type="button" onclick="enterLetter('{{ letter }}')">{{ letter | upper }}</button>
    {% endfor %}
    <button onclick="deleteDigit()">DELETE</button>

    <button onclick="check('{{ selected_word }}')">CHECK</button>
      


</body>
<script src="{{ url_for( 'static', filename='js/fill-input.js')}}"></script>
</html>