<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Word Guess</title>
</head>
<body>
    <div class="container">
        <header>
            <p>WORDLE</p>
        </header>

        <main>
            <div class="content">
                <label for="username">Enter your Username:</label>
                <input type="text" name="username" id="username">
                
                <label for="password">Enter your Password:</label>
                <input type="text" name="password" id="password">
                <div>
                    <button onclick="handleAuth()">Login</button>
                    <button onclick="handleAuth()">Register</button>
                </div>
            </div>
        </main>

        <footer>
            <a href="">home</a>
            <a href="">profile</a>
            <a href="">play</a>
        </footer>
    </div>

    <!-- <button onclick="location.href='{{ url_for('choose_topic') }}'">Start the Game</button> -->

</body>
</html>