@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    font-family: Nunito;
    color: whitesmoke;

    a{
        text-decoration: none;
        border-radius: 50px;
        color: rgb(50, 50, 50);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .75vw 2.25vw;
        cursor: pointer;
        transition: all .3s ease;
        cursor: pointer;
    }
    i{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            transform: scale(1.5);
        }
    }
    h1{
        margin: 0;
        font-size: 4vw !important;
    }
    h2{
        margin: 0;
        font-size: 3vw !important;
    }
    h3{
        margin: 0;
        font-size: 2vw !important;
    }
    p {
        margin: 0;
        font-size: 2vw;
    }
}
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    a {
        white-space: nowrap;
        overflow: hidden;   
        text-overflow: ellipsis;
        color:#323232 !important;
    }
}
header{
    max-height: 8vh;
    min-height: 8vh;
    width:  calc(100% - 4vh);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vh 0 2vh;
    z-index: 10;
    img{
        height: calc(100% - 2vh);
        filter:invert(1);
        margin-left: 2vh;
    }
    #profile-status{
        flex: unset;
        height: 100%;
        box-sizing: border-box;
    }

}

#body{
    max-height: 80vh;
    box-sizing: border-box;
    width: 100%;
    padding: 2vh;
    background-image: unset;

}

footer{
    width:  calc(100% - 4vh);
    min-height: 8vh;
    max-height: 8vh;
    margin: 0 2vh 2vh 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    z-index: 10;
    p {
        white-space: nowrap;
        overflow: hidden;   
        text-overflow: ellipsis;
        font-size: 1.5vw;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1.5vw;
    }
    .nav-bar{
        width: 100%;
        height: 100%;
        justify-content: space-between;
        a {
            font-size: 3vw !important;
            flex: 1;
            &:hover{
                padding: 1.5vw 3vw !important;
            }
        }
    }
}

button:disabled{
    cursor:not-allowed
}

.style{
    font-weight: 300;

    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 4vw;
    border: 1px solid rgba(198, 198, 198, 0.498);
    text-align: center;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-property: backdrop-filter, width, padding, background-color, box-shadow, filter, transform, color, flex;
    &:hover{
        backdrop-filter: blur(25px);
    }
    &.btn{
        background-color: whitesmoke;
        cursor: pointer;
        backdrop-filter: unset;
        padding: .75vw 2.25vw;
        font-size: 1.5vw;
        color: #323232;
        &:hover{
            background-color: rgb(49, 94, 255);
            box-shadow: inset 2px 2px 15px rgb(0, 102, 255),inset -3px -3px 7px #cecece;
            padding: .75vw 3.5vw;
            color: whitesmoke !important;
        }
        &.active{
            background-color: rgb(49, 94, 255);
            color: whitesmoke;
        }
    }
    &.alt{
        background: rgb(49, 94, 255);
        box-shadow: inset 2px 2px 15px rgb(0, 47, 255),inset -3px -3px 7px #cecece;
        color: whitesmoke;
    }
    &.input{
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.344);
        color: whitesmoke;
        font-size: 1.25vw;
        text-align: center;
        padding: 1vw;
    }
}
/* tablet */
@media (max-width: 1440px) {
    /* for base and others  */
    header{
        a {
            padding: 1.25vw 3vw !important;
            font-size: 1.75vw !important;
        }
    }
    footer{
        p {
            font-size: 2vw;
        }
    }
    .style{
        &.btn{
            font-size: 2vw;
            padding: 1vw 2.5vw;
            /* &:hover{
                padding: 1vw 5vw !important;
            } */
        }
        &.input{
            font-size: 2vw;
            padding: 1vw 2.5vw;
        }
    }
    /* base others end  */
    
    #body {
        /* for auth  */
        #auth-form{
            label{
                font-size: 2vw !important;
                text-align: center;
            }
        }


        /* end auth  */


    }

}

/* vertical tablet */
@media (max-width: 810px) {
    /* for base and others */
    div,
    button,
    a,
    section,
    header,
    footer,
    form{
        border-radius: 50px !important;
    }
    header{
        .nav-bar {
            display: none;
        }
        a {
            font-size: 3vw !important;
        }
        img {
            height: calc(100% - 3vh);
        }
    }
    footer {
        padding: 0px !important;
        p, .socials{
            display: none;
        }
        .nav-bar{
            display: flex !important;
        }
    }
    .style{
        &.btn{
            font-size: 3vw;
            padding: 1vw 2.5vw;
            /* &:hover{
                padding: 1vw 5vw !important;
            } */
        }
    }
    /* base and others end  */

    #body {
        /* for shop  */
        #product-div > div {
            width: 100% !important;
            height: 35vh !important;
        }
        /* shop end  */

        /* for contact  */
        .left, .right{
            height: 40vh;
            width: 100%; 
            flex: unset;
            p{
                font-size: 3vw !important;
            }
            h2, label{
                font-size: 4vw !important;
            }
        }

        /* contact end  */

        /* for auth  */
        #auth-form{
            padding: 4vw;
            p { 
                font-size: 3vw !important;
            }
            label{
                font-size: 3vw !important;
            }
            input{
                font-size: 3vw !important;
            }
            min-width: 75% !important;
            min-height: 50vh !important;
            label{
                font-size: 3vw !important;
            }
        }
        /* end auth  */

        /* for profile */
        &.profile-div{
            flex-direction: column-reverse !important;
            
            #btn-list {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 0 !important;
                width: 100% !important;
                row-gap: 25px !important;
                padding-top: 0px !important;

                .panel-btns{
                    flex: unset !important;
                    width: 20% !important;
                    box-sizing: border-box;
                    :hover{
                        padding: 1vw 2.5vw !important;
                    }
                }
                #logout-btn{
                    flex: unset !important;
                    width: 100% !important;
                    :hover{
                        padding: 1vw 2.5vw !important;
                    }
                }
                
            }
            & .content-div{
                flex: 5;
                padding-bottom: 0;
            }

            #personal-info-div{
                align-items: unset !important;
                gap: unset !important;
                justify-content: space-between;
                gap: 25px;
                label {
                    font-size: 4vw !important;
                }
                div{
                    height: 75px !important;
                    width: 100% !important;
                    & input{
                        height: 100%;
                        border-radius: 50px !important;
                        font-size: 3vw !important;
                    }
                    h2, h3 {
                        font-size: 4vw !important;
                    }
                }
            }
        }
        /* end profile  */
    }


}

/* phone */
@media (max-width: 540px) {
    /* for base and others */
    header{
        a{
            font-size: 4.5vw !important;
        }
    }
    footer {
        .nav-bar{
            gap: 0px;
            a{
                padding: .5vw 2vw !important;
                font-size: 4vw !important;
                &:hover{
                    padding: .5vw 2vw !important;
                }
            }
        }
    }
    /* base and others end */

    #body{

        /* for home  */
        .topics{
            flex: 2;
            flex-direction: column;
        }
        .hero{
            p{
                font-size: 4vw !important;
            }
        }
        /* home end */

        /* for shop  */
        #option-row > button {
            font-size: 3.5vw !important;
        }
        #product-div > div {
            width: 100% !important;
            h3 {
                font-size: 5vw !important;
            }
            p {
                font-size: 5vw !important;
            }
            .rowButton {
                p {
                    text-align: center !important;
                }
                button, a{
                    font-size: 5vw !important;
                    padding: 1.5vw 4vw !important;

                }
            }
        }

        /* for contact  */
        .left, .right{
            height: 40vh;
            width: 100%; 
            flex: unset;
            p{
                font-size: 4vw !important;
            }
            h2{
                font-size: 5vw !important;
            }
            label {
                font-size: 5vw !important;
            }
            input, textarea{
                font-size: 4vw !important;
            }
            form{
                gap: 25px;
                .form-row-div{
                    width: 100% !important;
                    justify-content: space-between !important;
                }
            }
        }

        /* contact end  */

        /* for auth  */
        #auth-form{
            padding: 3vw;
            min-width: 75% !important;
            min-height: 50vh !important;
            label, input, a, p{
                font-size: 4vw !important;
            }
            #action-div{
                button{
                    font-size: 4vw !important;
                    padding: 1.5vw 4vw !important;
                }
            }
        }
        /* end auth  */


        /* for profile  */
        #btn-list{
            justify-content: space-evenly;
            .panel-btns{
                width: 40% !important;
                &:hover{
                    padding: 1.5vw 3vw !important;
                }
            }
            #logout-btn:hover{
                padding: 1.5vw 3vw !important;
            }
        }

        #finished-courses-div,
        #in-progress-courses-div{
            h1{
                font-size: 12vw !important;
            }
            h2{
                font-size: 10vw !important;
            }
            h3{
                font-size: 8vw !important;
            }
            p {
                font-size: 6vw;
            }
            width: 100% !important;
            .course-div{
                box-sizing: border-box;
                div {
                    flex-direction: column;
                }
                & > div:last-child{
                    flex-direction: row !important;
                }
            }
        }
        #wallet-div{
            width: 100% !important;

            div{
                flex-wrap: wrap;
                p{
                    flex: unset !important;
                    width: 40% !important;
                    font-size: 4vw !important;
                }
            }
            .wallet-top-row{
                flex-direction: column !important;
                div {
                    flex-direction: column;
                    width: 100%;
                    gap: 25px;
                    button,
                    input{
                        font-size: 5vw !important;
                    }
                }
            }
        }
        /* end profile */
    }

}