@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#body{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    & section{
        height: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
}

.left{
    background-image: url(../img/contact-hero.jpg);
    background-size: cover;
    justify-content: center;
    background-position: 50%;
    gap: 1vh;
    box-shadow: inset 0px -100vh 100px 10px rgba(0, 0, 0, 0.461);
}

.right{
    gap: 2vh;
    & > div,
    & form{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
    }
    & form{
        flex: 2;
        /* height: 100%; */
        & > div{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            & label{
                font-size: 1.5vw;
            }
            & input{
                padding: .75vw;
            }
            & textarea{
                text-align: left;
                border-radius: 25px;

            }
        }
        & .submit-btn-div{
            flex-direction: row;
            height: 43px;
            justify-content: space-evenly;
        }

    }
}


@media (max-width: 1440px) {
    body{
        & h1{
            font-size: 10vw !important;
        }
        & h2{
            font-size: 3vw !important;
        }
        & h3{
            font-size: 3vw !important;
        }
    }
    .style{
        &.btn{
            font-size: 2vw;
            padding: 1vw 2.5vw;
        }
    }
}


@media (max-width: 810px) {
    #body {
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        scrollbar-width: none;
        & > section{
            width: 100%;
            height: 50vh;
            flex: unset !important;
        }
    }
    body{
        & h1{
            font-size: 12vw !important;
        }
        & h2{
            font-size: 5vw !important;
        }
        & h3{
            font-size: 3vw !important;
        }
        & p {
            font-size: 4vw !important;
        }
        & label {
            font-size: 3vw !important;
        }
    }
    .style{
        &.btn{
            font-size: 3vw;
            padding: 1.5vw 3vw;
        }
    }
    .topics{
        flex-direction: column;
    }
    #product-div > div {
        width: 100% !important;
        height: 30vh;
    }
}