.outterbox{
    background-image: url("images/horizental.PNG");
    background-size: 50%;
    filter: contrast(100);
    filter: grayscale();
    margin: 5% 25%;
    padding: 100px;
    padding-bottom: 300px;
    height: 40vh;
}

.middlebox{
    background-image: url("images/vertical.JPG");
    height: 100%;
    padding: 100px;
    opacity: 80%;
}

.innerbox{
    background-image: url("images/45degree.WEBP");
    height: 100%;
    opacity: 80%;
}