body {
    background-color: rgb(161, 161, 255);
    font-family: 'Josefin Sans', sans-serif;
}

#title{
    color: blue;
    font-family: cursive;
    font-size: 50px;
}

p{
    /* font-family: cursive; */
    color: black;
    font-size: 25px;
}

h2{
    font-family: 'futura', sans-serif;
    color: white;
}