/* headercss */
/* 0 - global header */
.header{
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.header a:hover,
.header-bot a:hover{
    filter: none;
}

.header .container,
.header-bot .container{
    width: 1440px;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
}

.header-top,
.header-mid,
.header-bot{
    display: flex;
    justify-content: center;
}

/* 1 - header top */
.header-top{
    border-top: 2px solid white;
    background-color: black;
}

.header-top .container{
    justify-content: flex-end;
}

.header-top a{
    color: white; 
    margin: 3px 0px;
}
.header-top a:hover{
    text-decoration-line: underline;
}
.header-top p{
    background-color: rgb(0, 0, 255);
    color: white;
    display: inline-block;
    padding: 2px 5px;
    font-weight: 500;
    margin-left: 10px;
}

/* 2 - header mid - bot */
.header-mid,
.header-bot{
    border-bottom: 1px solid darkgray;
    padding: 10px 0px;
}

.header-mid .container,
.header-bot .container{
    flex-direction: row;
    justify-content: space-between;
}

.header-mid a:hover,
.header-bot a:hover{
    text-decoration: none;
}

.header-mid{
    font-size: 14px;
}

.header-mid-left img{
    width: 40px;
    padding-right: 5px;
}

.header-mid-center{
    display: flex;
    gap: 10px;
}

.menu-item img{
    width: 10px;
    margin-left: 5px;
}

.menu-item{
    align-content: center;
    height: 100%;
}

.menu-item:hover{
    border-bottom: 4px solid orangered;
}

.header-mid-right{
    display: flex;
    gap: 5px;
}

.search img{
    width: 35px;
    border-radius: 5px;
}

.search img:hover,
.signin-button:hover,
.register-button:hover{
    box-shadow: 0px 0px 10px  rgb(132, 132, 132);
}

.signin-button,
.register-button{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    transition: box-shadow .3s ease;
}

.register-button{
    background-color: black;
    color: white;
}

.prices{
    /* background-color: red; */

    /* align-items: center; */
    display: flex;
    gap: 10px;
}

.header-bot a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.header-bot img{
    width: 15px;
}

.header-bot .percent-red{
    color: darkred;
}

.header-bot .percent-green{
    color: darkgreen;
}

/* bodycss */
/* global  */

body{
    margin: 0px;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #404040;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
    filter: none;
}

a img{
    transition: filter .3s ease;

}
a img:hover{
    filter: brightness(70%);
}

p{
    color: #404040;
    margin: 0px;
    font-weight: 200;
    padding: 3px;
}

h2{
    font-size: 35px;
    color: #404040;
    margin: 0px;
    line-height: 125%;
    padding: 5px 0px;
}

h3{
    font-weight: 100;
    font-size: 25px;
    margin: 10px 0px;
}
h4{
    font-size: 20px;
    margin: 0px;
}
h6{
    margin: 0px;
    font-weight: 200;
    color: #616161;
    font-size: 12px;
    padding: 3px;

}

img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    margin: 0px;
}

.section1,
.section2,
.hero,
.section3,
.section4{
    display: flex;
    justify-content: center;
}

.bodycontainer{
    /* background-color: rgb(197, 225, 226); */
    width: 1200px;
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(74, 74, 74);
    padding-bottom: 20px;
    gap: 10px;
}
.hero .bodycontainer{
    border: 0px;
}
.walltext{
    display: flex;
    flex-direction: column;
}

.wallimg{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.wallcluster{
    flex: 1;
}

/* storyheader  */
.storyheader{
    display: flex;
    align-items: center;
    gap: 20px;
}
.storyheader hr{
    height: 50%;
}

.storyheader img{
    width: 30px;
}
.card1,
.card2{
    display: flex;
}

/* asia pacific  */
.section1 .card1 .walltext{
    flex: 1;
}

.section1 .card1 .wallimg{
    flex: 2;
}

.section1 .card2 .walltext{
    flex: 2;
}

.section1 .card2 .wallimg{
    flex: 1;
    align-items: end;
}

.section1 .card2 .wallimg img{
    width: 50%;
}

/* us elections  */

.section2 .card1 .walltext{
    flex: 1;
}
.section2 .card1 .wallimg{
    flex: 2;
}

.section2 .sidebar{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.section2 .sidebar hr{
    width: 100%;
}

/* hero  */

.herotext{
    width: 34%;
    background-color: #1b1b1b;
    align-content: center;
}

.herotext a{
    color: white;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.herotext h2{
    color: white;
}

.heroimg{
    width: 66%;
}

.heroimg img{
    height: 100%;
}

/* pictures */
/* the last read  */

.section3 .card1 img,
.section4 .card1 img{
    aspect-ratio: 4/3;
    width: 100%;
}

.section3 .picture,
.section4 .picture{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    box-sizing: border-box;
}

/* footercss */
/* 0 - footer global */
footer a img{
    width: 20px;
}

footer a:hover{
    filter: none;
}

footer p{
    font-size: 15px;
    font-weight: 100;
    margin-right: 10px;
}

footer .container{
    width: 1440px;
    padding: 20px 30px;
    display: flex;
    box-sizing: border-box;
    row-gap: 30px;

}

.footer-links,
.footer-company,
.footer-product,
.footer-legal{
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: center;
}

footer .column{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* 1 - footer links */
.footer-links .container .column{
    gap: 7px;
    width: 25%;
}

.footer-links .container .column a img{
    width: 20px;
    margin-right: 7px;
}

/* 2 - footer company */
.footer-company .container .column .socials{
    display: flex;
    gap: 15px;
}

.social{
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow .3s ease;
}

.social:hover{
    box-shadow: 0px 0px 10px  rgb(181, 181, 181);
    border: 1px solid rgb(0, 0, 0);
}

/* 3 - footer product */
.footer-product .container .column .products{
    display: flex;
    gap: 30px;
}
.footer-product p a{
    font-weight: bold;
    font-size: 20px;
}
/* 4 - footer legal */
.footer-legal .container{
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-legal .section{
    display: flex;
    gap: 15px;
}






@media  screen and (min-width:1024px) and (max-width: 1365px) {
    .hide1{
        background-color: red;
        display: none;
    }


    .bodycontainer{
        width: 90%;
    }

    .wallcluster{
        display: none;
    }

    .section3 .bodycontainer,
    .section4 .bodycontainer{
        box-sizing: border-box;
    }
    
    .section3 .bodycontainer .card1,
    .section4 .bodycontainer .card1{
        flex-wrap: wrap;
    }

    .section3 .picture,
    .section4 .picture{
        width: 50%;
    }

    .footer-product .column{
        width: 100%;
    }

    .footer-product p{
        flex: 1;
    }

    .footer-product .container,
    .footer-legal .container{
        flex-direction: column;
    }

}

@media  screen and (min-width:768px) and (max-width: 1023px) {

    .header-top .container{
        justify-content: center;
    }

    .hide1,
    .hide2{
        background-color: red;
        display: none;
    }

    .bodycontainer{
        width: 90%;
    }
    
    .wallcluster{
        display: none;
    }


    .section1 .card1,
    .section2 .card1{ 
        flex-direction: column;
        gap: 40px;
    }

    .section1 .card2{
        align-items: center;
    }

    .section1 .card2 .walltext{
        flex: 1;
    }

    .section1 .card2 .wallimg img{
        width: 100%;
    }

    .section1 .wallcluster{
        display: none;
    }

    .section2 .sidebar{
        max-width: 100%;
        padding: 0px;
    }
    .section2 .sidebar hr{
        width: 80%;
    }
 
    .hero .card1{
        flex-direction: column;
    }

    .hero .herotext{
        width: 100%;
    }

    .hero .heroimg{
        width: 100%;
    }

    .section3 .bodycontainer,
    .section4 .bodycontainer{
        box-sizing: border-box;
    }

    .section3 .bodycontainer .card1,
    .section4 .bodycontainer .card1{
        flex-wrap: wrap;

    }
    .section3 .picture,
    .section4 .picture{
        width: 50%;
    }

    .footer-product .column{
        width: 100%;
    }

    .footer-product p{
        flex: 1;
    }

    .footer-product .container,
    .footer-legal .container{
        flex-direction: column;
    }
}

@media  screen and (max-width: 767px) {
    .header-top a .text{
        display: none;
    }
    .header-top .container,
    .header-bot .container{
        justify-content: center;
    }
    .signin-button,
    .register-button{
        display: none;
    }

    .hide1,
    .hide2,
    .hide3{
        background-color: red;
        display: none;
    }


    .bodycontainer{
        width: 100%;
        margin: 10px;
    }

    .section1 .card1,
    .section2 .card1{ 
        flex-direction: column;
        gap: 40px;
    }

    .section1 .card2{
        align-items: center;
    }

    .section1 .card2 .walltext{
        flex: 1;
    }

    .section1 .card2 .wallimg img{
        width: 100%;
    }

    .section1 .wallcluster{
        display: none;
    }

    .section2 .sidebar{
        max-width: 100%;
        padding: 0px;
    }
    .section2 .sidebar hr{
        width: 80%;
    }

    .hero .bodycontainer{
        padding: 0px;
    }
    .hero .card1{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .hero .herotext{
        width: 100%;
    }

    .hero .heroimg{
        width: 100%;
    }

    .section3 .bodycontainer .card1,
    .section4 .bodycontainer .card1{
        flex-wrap: wrap;
    }


    .footer-links .container,
    .footer-legal .section{
        flex-wrap: wrap;
    }

    
    .footer-company .container,
    .footer-product .container,
    .footer-product .products{
        flex-direction: column;
    }
    
    .footer-company .column,
    .footer-product .column{
        width: 80%;
    }
    .footer-links .container .column{
        width: 50%;
    }
}